body {
    font-family: monospace;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.contenido {
    width: 960px;
    margin: 0 auto;
}


.cuerpo img {
    width: 230px;
}






